<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
>
  <testsuite name="Test Suite">
    <directory>./tests</directory>
  </testsuite>
  <coverage/>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
